<launch>
	<arg name="single_threaded" default="false"/>
	<include file="$(find peac_bridge)/launch/peac_bridge.launch">
		<arg name="peac_server" value="http://localhost:8000"/>
		<arg name="peac_user" value="Not"/>
		<arg name="peac_pass" value="Used"/>
		<arg name="single_threaded" value="$(arg single_threaded)"/>
	</include>
	<node name="fake_peac_server" type="runserver.sh" pkg="peac_bridge"/>
</launch>